.App {
  font-family: cursive;
  text-align: center;
  text-transform: capitalize;
  max-width: 380px;
  margin: auto;
  border: 5px solid red;
  padding-bottom: 1rem;
}

input {
  border: 3px solid red;
  font-size: 1.3rem;
}

.emoji-animal {
  margin: auto;
  max-width: 300px;
  border: 1px solid rgb(236, 152, 152);
  padding: 1rem 0;
  background-color: #fd3838;
}
h1 {
  color: #fd3838;
}
h3 {
  color: #fd3838;
  font-size: 1.3rem;
}
.single-emoji {
  font-size: 1.7rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
